{% extends "layout.html" %}
{% block body %}
<div><a href="{{ url_for('flaskr.show_entries') }}">Home</a></div>
<h2>Add Entries</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method=post>
    <dl>
      <dt><h2>{{ form.title.label }}</h2>
          <dd>{{ form.title(size=20) }}
      <dt><h3>{{ form.text.label }}</h3>
        <dd>{{ form.text(rows="5", cols="40") }}
       <dt>{{ form.category_id.label }}
        <dd>{{ form.category_id }}
    </dl>
    <p><input type=submit value=Add>
  </form>
{% endblock %}
