{% extends "layout.html" %}
{% block body %}
<div><a href="{{ url_for('show_entries') }}">Home</a></div>
<h2>Add Category</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method=post>
    <dl>
      <dt><h2>{{ form.name.label }}</h2>
          <dd>{{ form.name(size=20) }}
    </dl>
    <p><input type=submit value=Add>
  </form>
{% endblock %}