{% extends "layout.html" %}
{% block body %}
  <h2>Create New User</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method=post>
    <dl>
      <h2>{{ form.name.label }}</h2> {{ form.name(size=20) }}
      <h2>{{ form.username.label }}</h2> {{ form.username(size=20) }}
        <h2>{{ form.pw.label }}</h2> {{ form.pw(size=20) }}
    </dl>
    <p><input type=submit value=Create>
  </form>
{% endblock %}
