<!doctype html>
<a href="{{  url_for('flaskr.show_entries') }}"><title>Flaskr</title></a>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Flaskr</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('flaskr.login') }}">log in</a>        <a href="{{ url_for('flaskr.adduser') }}">Create User</a>
  {% else %}
    <a href="{{ url_for('flaskr.logout') }}">log out</a>
    <a href="{{ url_for('flaskr.removeuser') }}">Remove User</a>
      <a href="{{ url_for('flaskr.shutdown') }}">Shutdown</a>
  {% endif %}
  </div>
  <div class=metanav>
      {% if session.logged_in %}
        <a href="{{ url_for('flaskr.addcategory') }}">Add Category</a>
    <a href="{{ url_for('flaskr.remove') }}">Remove Post</a>
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>