{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method=post>
    <dl>
      <h2>{{ form.username.label }}</h2> {{ form.username(size=20) }}
      <h2>{{ form.password.label }}</h2> {{ form.password(size=20) }}
    </dl>
    <p><input type=submit value=Login>
  </form>
{% endblock %}
