{% extends "layout.html" %}
{% block body %}
<div><a href="{{ url_for('show_entries') }}">Home</a></div>
<h2>Remove Entries</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method=post>
    <dl>
      <dt><h2>{{ form.title.label }}</h2>
      <dd>{{ form.title(size=20) }}
    </dl>
    <p><input type=submit value=Remove>
  </form>
{% endblock %}
