{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      <a href="add">Add an entry.</a>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2><h3>{{ entry.text|safe }}</h3>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}